@import "../../styles/common";

.wrap {
  display: flex;
  align-items: center;
  button {
    background: none;
    border: none;

    .icon {
      color: #fff;
      font-size: 2.5rem;

      &:hover {
        color: $point_color;
        transition: all 0.5s;
      }
    }
  }

  span {
    font-size: 1.8rem;
  }
}
