@import "../../styles/common";

.wrap {
  @include flex(space-between, row);
  width: 100%;

  .border {
    text-align: center;
    width: 33.3%;
    a {
      font-size: 1.8rem;
    }

    .line {
      display: block;
      width: 0%;
      height: 2px;
      background: $point-color;
    }
  }
}

.active {
  text-align: center;
  width: 33.3%;
  position: relative;
  a {
    color: $point-color !important;
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
  }

  .line {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    background: $point-color;
    display: block;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.8s;
  }
}
