@import "../../styles/common";

.wrap {
  position: relative;
  width: 192px;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0rem;
    border: none;
    background: none;

    .icon {
      font-size: 1.8rem;
      color: #222;
    }
  }
}
