@import "../../styles/common";

.wrap {
  width: 100%;
  height: 500px;
  background: url(../../../../public/summer_bg.jpg) no-repeat center / cover;
  position: relative;
  .text_wrap {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translateY(-50%);
    text-align: center;

    p {
      color: #fff;
      font-size: 6rem;
      text-align: center;
      font-weight: bold;
    }

    button {
      background: none;
      border: 2px solid #fff;
      border-radius: 0.5rem;
      color: #fff;
      font-size: 2rem;
      margin-top: 1rem;
      padding: 1rem 2rem;

      &:hover {
        background: #fff;
        color: #eba1b8;
        transition: all 0.5s;
      }
    }
  }

  .img_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 60%;
    height: 500px;
    overflow-y: hidden;
    .inner {
      position: relative;

      .img_01,
      .img_02,
      .img_03,
      .img_04 {
        position: absolute;
        top: -9999px;
        right: 0;
      }

      .img_01_active {
        position: absolute;
        top: 24px;
        left: 5%;
        transition: all 1s;
      }

      .img_02_active {
        position: absolute;
        top: 155px;
        right: 57%;
        transition: all 1.5s;
      }

      .img_03_active {
        position: absolute;
        top: 155px;
        right: 16%;
        transition: all 2s;
      }
      .img_04_active {
        position: absolute;
        top: 24px;
        right: 3%;
        transition: all 2.5s;
      }
    }
  }
}
