@import "../../styles/common";

.wrap {
  width: 100%;
  height: 500px;
  background: url(../../../../public/summer_bg.jpg) no-repeat center / cover;

  .wrap_inner {
    width: 1200px;
    margin: 0 auto;
    height: 500px;
    position: relative;

    .text_wrap {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      text-align: center;

      p {
        color: #fff;
        font-size: 6rem;
        text-align: center;
        font-weight: bold;
      }

      button {
        background: none;
        border: 2px solid #fff;
        border-radius: 0.5rem;
        color: #fff;
        font-size: 2rem;
        margin-top: 1rem;
        padding: 1rem 2rem;

        &:hover {
          background: #fff;
          color: #eba1b8;
          transition: all 0.5s;
        }
      }
    }

    .img_wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      height: 500px;
      overflow-y: hidden;
      width: 80%;
      .inner {
        position: relative;

        .img_01,
        .img_02,
        .img_03,
        .img_04 {
          position: absolute;
          top: -9999px;
          right: 0;
        }

        .img_01_active {
          position: absolute;
          top: 28px;
          left: 16%;
          transition: all 1s;
          width: 40%;
          height: auto;
        }

        .img_02_active {
          position: absolute;
          top: 200px;
          right: 45%;
          transition: all 1.5s;
          width: 40%;
          height: auto;
        }

        .img_03_active {
          position: absolute;
          top: 200px;
          right: 4%;
          transition: all 2s;
          z-index: 3;
          width: 40%;
          height: auto;
        }
        .img_04_active {
          position: absolute;
          top: 24px;
          right: 0%;
          transition: all 2.5s;
          width: 40%;
          height: auto;
        }
      }
    }
  }
}
