@import "../../styles/common";

.nav {
  width: 30rem;
  padding: 2rem;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 9999;
  background: #013b23;

  ul {
    a {
      font-size: 2rem;
      color: #fff;
    }
  }
}
