@import "../../../styles/common";

.prev {
  font-size: 5rem;
  background: none;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  border: 2px solid #222;
  border-radius: 50%;
  @include flex(center, row);
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  z-index: 3;
}
